body, 
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #00afcc;
}
.container {
    display: inline-block;
<<<<<<< HEAD
    width: 800px;
=======
    width: 800 px;
>>>>>>> 37bc0028233605d4c7680d27e23226cdcdd2bbc0
    margin-top: 100px;
    margin-left: calc(50% - 400px);
}

.left-column {
    width: 40%;
    float: left;
    padding: 40px;
    margin-top: 20px;
    background-color: #494eac;
}

<<<<<<< HEAD
.main-title {
    color: crimson;
}

.bottom-links > {
    display: inline-block;
    width: 100%;
    background-color: cyan;
}

bottom-links > .symbol {
    color: #fff;
    font-size: 14px;
}
.right-column {
    width: 60%;
    float: left;
    padding: 100px;
    background-color: #fff;
}

.close {
    display: inline-block;
    background-color: red;
}
.form {
    display: inline-block;
    width: 100%;
    background-color: royalblue;
}
=======
.right-column {
    width: 60%;
    float: left;
    padding: 60px;
    background-color: #fff;
}
>>>>>>> 37bc0028233605d4c7680d27e23226cdcdd2bbc0
